@{
    this.ViewData["Title"] = "We are sorry, but this section is still under construction!";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div>
    <img class="centered" src="https://www.vosp.us/wp-content/uploads/Under.jpg" />
</div>

