@using RainingCatsAndDogsOnWeb.Common
@model RainingCatsAndDogsOnWeb.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h4 class="display-4">Best pet lovers community</h4>
    <div class="col-md-3 offset-md-4">
        <p>We have: </p>
        <ul class="list-group">
            <li class="list-group-item">Total Categories: @Model.CategoriesCount</li>
            <li class="list-group-item">with total numbers of ads: @Model.AdsCount</li>
        </ul>
    </div>
</div>
