@using RainingCatsAndDogsOnWeb.Common
@model RainingCatsAndDogsOnWeb.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have: </p>
    <ul>
        <li>Total Categories: @Model.CategoriesCount</li>
        <li>with total numbers of ads: @Model.AdsCount</li>
    </ul>
</div>
