@{
    this.ViewData["Title"] = "No matches found";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div>
    <img class="centered" src="https://media0.giphy.com/media/BGH9MWQegcu84hY9DT/giphy.gif?cid=790b76115ef0ab91586dbff31b6393b3df552d6206f6f8b0&rid=giphy.gif&ct=g" />
</div>


