@{
    this.ViewData["Title"] = "No matches found";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div>
    <img class="centered" src="https://i.pinimg.com/originals/27/26/72/2726720621dfd321f58ddbd843bad64b.gif" />
</div>


