@using RainingCatsAndDogsOnWeb.Web.ViewModels.Posts
@model CreatePostViewModel
@{
    this.ViewData["Title"] = "New blog post";
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="container-fluid">
    <h1 class="mt-4">Create</h1>
    <div class="row">
        <div class="card-lg-6">
            <div class="card mb-4">
                <form method="post" asp-controller="Posts" asp-action="Create" enctype="multipart/form-data">
                    <div class="card-header">
                        <i class="fas fa-pen-fancy mr-1"></i>
                        Write a Post
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="PostHeaderImage"></label>
                            <div class="custom-file">
                                <input asp-for="PostHeaderImage" class="custom-file-input" accept="image/*" />
                            </div>
                            <span asp-validation-for="PostHeaderImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select asp-for="CategoryId" asp-items="categories"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" required />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content"></label>
                            <textarea asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <button asp-action="Create" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .Create(document.querySelector('textarea'))
            .catch(error => {
                console.error(error)
            });

        $(".custom-file-input").on("change", function () {
            let fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}



