@using RainingCatsAndDogsOnWeb.Common
<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://www.claringtonvet.ca/wp-content/themes/patchwork-resp/style.css?ver=1.0-661" />
    <link rel="shortcut icon" href="https://www.claringtonvet.ca/wp-content/themes/patchwork-resp/favicon.ico" type="image/x-icon" />
    <title>@GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar">
            <partial name="_LoginPartial" />
            <div id="navigation">
                <nav id="access" role="navigation">
                    <div class="belt">
                        <ul id="sticky_menu" class="clearfix">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a><button class="mobileOnly down-mcaret">
                                    <i class="fa fa-chevron-down"></i>
                            </li>
                            </button>
                           @if (this.User.IsInRole("Administrator"))
                            {
                                <li class="nav-item menu-item-has-children has_children">
                                    <a class="dropbtn">ADMIN</a>
                                    <div class="dropdown-content">
                                    <form id="myForm1" method="post" asp-controller="Admin" asp-action="AddUserToAdminRole">
                                        <a id="createAdmin" asp-controller="Admin" asp-action="AddUserToAdminRole">Create Admin</a>
                                        </form>
                                        <form id="myForm2" method="post" asp-controller="Admin" asp-action="CreateRole">
                                            <a id="createRole" asp-action="CreateRole">Create a Role</a>
                                        </form>
                                        <form id="myForm3" method="post" asp-controller="AdsCollector" asp-action="LoadAds">
                                            <a id="adsCollector" asp-controller="AdsCollector" asp-action="LoadAds">Load Ads</a>
                                        </form>
                                    </div>
                                </li>
                            }
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Ads" asp-action="Create">POST NEW AD</a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Ads" asp-action="AllAds">
                                        ALL ADS
                                    </a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Ads" asp-action="MyAds">
                                        MY ADS
                                    </a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Blog" asp-action="Index">
                                        BLOG
                                    </a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li>
                                    <a id="quizSection" asp-area="" asp-controller="Quiz" asp-action="UnderConstruction">
                                       QUIZ
                                    </a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Account" asp-action="Register">REGISTER</a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Account" asp-action="Login">LOGIN</a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                            }
                        </ul>
                </nav>
            </div>
            </div>
            </div>
        </nav>
    </header>
    <div class="ToogleMenuOuter"></div>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>

</body>

<footer>
    <div class="container">
        <img id="footerImage" src="~/img/footer2.webp" class="container-fluid" />
        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - All right reserved
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>
<script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>

@if (this.User.IsInRole("Administrator"))
{
    <script>
        document.getElementById("createAdmin").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById('myForm1').submit();
        });

        $("#quizSection").hide();
    </script>

    <script>
        document.getElementById("createRole").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById('myForm2').submit();
        });
    </script>

    <script>
        document.getElementById("adsCollector").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById('myForm3').submit();
        });
    </script>
}

@await this.RenderSectionAsync("Scripts", required: false)
</html>




