@{
    this.ViewData["Title"] = "TODO";
}

<h1>@this.ViewData["Title"]</h1>
<div class="row">
    @for (var i = 0; i < 6; i++)
    {
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a asp-controller="Ads" asp-action="Details" class="btn btn-primary" role="button">View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


