@{
    this.ViewData["Title"] = "No posts exist at the moment";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div>
    <img class="centered" src="https://media.tenor.com/VcsMs6UBn-8AAAAC/oh-cat.gif" />
</div>
