@{
    this.ViewData["Title"] = "Under construction!";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<body>
     <link rel="stylesheet" href="https://www.vosp.us/wp-content/uploads/Under.jpg">
</body>

